<div class="row flex-lg-row align-items-center g-5 pt-4 mb-4">
    <div class ="col-12 col-lg-6">
        <img src="/images/index.png" width="600" height="338" class="d-block mx-lg-auto img-fluid rounded-pill"> 
    </div>

    <div class ="col-12 col-lg-6">
        <h1 class="display-5 fw-bold mb-3">
            Welcome to Nack's Kitchen
        </h1>
        <p class="lead">
            Here you will find my own unoriginal recipes that I have copied from all over the interweb! 
        </p>
    </div>
</div>

<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Latest Recipes</h2>
        <a href="/recipes" class="ms-auto">View All</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

        <% if(recipes != '') { %>
            <% recipes.newAdd.forEach(function(recipe, index){ %>
        <a href="/recipes/<%= recipe._id %>" class="col text-center recipe__tab">
            <div class="recipe__img shadow">
                <img src="/uploads/<%- recipe.image %>">
            </div>
            <div class="pt-1"><%= recipe.title %></div>
        </a>
        <% }) %>
            <% } %>

    </div>



</section>