<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Submit Your Recipe</h1>
  </div>
  
<div class="row justify-content-center">
    <div class="col-8">
        <form action="/recipes" enctype="multipart/form-data" method="POST">
            <div class="row g-4">
                <div class="col-12">
                    <label>Image</label>
                    <input type="file" class="form-control" name="image" accept="image/*">
                </div>

                <div class="col-12">
                    <label class="form-label">Title:</label>
                    <input type="text" name="title" id="title" class="form-control">
                </div> 

                <div class="col-12">
                    <label>Description</label>
                    <textarea name="description" id="description"  class="form-control" cols="40" rows="4"></textarea>
                </div>

                <div class="col-12">
                    <label class="form-label">Ingredients:</label>
                        <div id="ingredientItem">
                            <input type="text" name="ingredients" placeholder="2 shots of vodka.." class="form-control">
                            <button id="removeIngredientBtn" class="btn btn-outline-danger">X</button>
                        </div>
                    </div>
                </div>
                
                <div>
                    <button type="button" class="btn btn-outline-primary" id="addIngredientBtn">+ Ingredient</button>
                </div>

                <div class ="col-12">
                    <label class="form-label">Method:</label>
                        <div id="methodItem">
                            <input type="text" name="method" placeholder="First, you..." class="form-control">
                            <button id="removeMethodBtn" class="btn btn-outline-danger">X</button>
                        </div>
                    </div>    
                </div>

                <div class="col-12">
                    <button type="button" class="btn btn-outline-primary" id="addMethodBtn">+ Method</button>
                </div> 

                <br><br>
                
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Add Recipe</button>
                </div>
               
            </div>
        </form>
    </div>
</div>


<script src="/javascripts/script.js"></script>
