<%- include('../partials/header') %>
<div id="recipe-format">
    <form action="/recipes" method="POST">
        <div class="recipe-img">
            <label>Image</label>
            <input type="file" name="image" accept="image/*">
        </div>

        <div class ="recipe-text">
            <label>Title:</label>
            <input type="text" name="title" id="title">
        </div>

        <div class ="recipe-text">
            <label>Description</label>
            <textarea name="description" id="description" cols="50"></textarea>
        </div>

        <div class ="recipe-text">
            <label>Ingredients:</label>
                <div id="ingredientItem">
                    <input type="text" name="ingredients" placeholder="2 shots of vodka..">
                    <button id="removeIngredientBtn">X</button>
                </div>
            </div>
        </div>
        
        <div>
            <button type="button" class="ingredient-button" id="addIngredientBtn">+ Ingredient</button>
        </div>

        <div class ="recipe-text">
            <label>Method:</label>
                <div id="methodItem">
                    <input type="text" name="method" placeholder="First, you..."">
                    <button id="removeMethodBtn">X</button>
                </div>
            </div>    
        </div>

        <div>
            <button type="button" class="method-button" id="addMethodBtn">+ Method</button>
        </div> 

        <br><br>

        <input type="submit" value="Add Recipe">
    </form>
</div>
<script src="/javascripts/script.js"></script>
<%- include('../partials/footer') %>