<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Submit Your Recipe</h1>
  </div>
  
<div class="row justify-content-center">
    <div class="col-8">
        <form action="/recipes" enctype="multipart/form-data" method="POST">
            <div class="row g-4">
                <div class="col-12">
                    <label>Image</label>
                    <input type="file" class="form-control" name="image" accept="image/*">
                </div>

                <div class="col-12">
                    <label class="form-label">Title:</label>
                    <input type="text" name="title" id="title" class="form-control">
                </div> 

                <div class="col-12">
                    <label>Description</label>
                    <textarea name="description" id="description"  class="form-control" cols="40" rows="4"></textarea>
                </div>

                <div class="col-12">
                    <label for="ingredients" class="form-label">Ingredients</label><br>
                    <div class="ingredientList">
                      <div class="ingredientDiv mb-1">
                        <input type="text" name="ingredients" class="form-control">
                      </div>
                    </div>
                  </div>
                
                  <div class="col-12">
                    <button type="button" class="btn btn-outline-primary" id="addIngredientsBtn">+ Ingredient</button>
                  </div>

                  <div class="col-12">
                    <label for="method" class="form-label">Method</label><br>
                    <div class="methodList">
                      <div class="methodDiv mb-1">
                        <input type="text" name="method" class="form-control">
                      </div>
                    </div>
                  </div>
                
                  <div class="col-12">
                    <button type="button" class="btn btn-outline-primary" id="addMethodBtn">+ Method</button>
                  </div>

                <br><br>
                
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Add Recipe</button>
                </div>
               
            </div>
        </form>
    </div>
</div>


<script src="/javascripts/script.js"></script>
